{% extends 'base.html'%}
{% load crispy_forms_tags%}



{% block content %}



            <!--    start boards -->
<!--
             <div class="boards-topics">
                 {% for board in a_boards%}
                  <a  href="{% url 'boards_topic' board.pk %}" style="text-decoration-line:none">
                      <div class="card-topics" >
                            <div class="card-header" >
                                {{board.name}}
                               </div>
-->
<!--                       <div class="card-body">-->
<!--                        <img style="width: 100px" src="{{board.board_image.url}}" alt=""/>-->

<!--                      </div>-->
<!--
                    </div>
                  </a>
                 {% endfor%}
                </div>
-->

             <!--    end boards -->




   {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} text-center">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
  <div class="border p-4 mb-5 conta1"  style="
                    width: 50%;
                   font-size: 20px;
                   margin: 50px auto;
                   text-align: right;
                   border: 1px solid #ccc;
                   border-radius: 10px;
                   padding: 15px;
                   ">
    <div class="row" >
        <div class="col-md-3 text-center" >
            <img class="img-fluid rounded-circle border m-2"  width="120px" src="{{user.profile.image.url}}"
                alt="صورة الناشر">
            <div class="mt-3">
                <a class="btn btn-secondary bg-secondary" href="{% url 'profile_update'%}"><i class="fas fa-pen fa-xs"></i> تحرير </a>
            </div>
               <div class="mt-3">
                <a class="btn btn-secondary bg-secondary" href="{% url 'change-password'%}"><i class="fas fa-pen fa-xs"></i> تغيير كلمة المرور</a>
            </div>
        </div>
        <div class="col-md-9">
            <h2 class="mb-4"> {{user.username}} </h2>
            <p class="font-weight-bold">الاسم: <span class="font-weight-normal">{{user.first_name}}
                    {{user.last_name}}</span></p>
            <p class="font-weight-bold">البريد الإلكتروني: <span class="font-weight-normal">{{user.email}}</span></p>
            <p class="font-weight-bold">الجوال: <span class="font-weight-normal">{{user.profile.mobile}}</span></p>



        </div>

    </div>
</div>

<div class="row mb-5 "  style="
                    width: 50%;
                   
                   margin: 50px auto;
                   text-align: right;
                   border: 1px solid #ccc;
                   border-radius: 10px;
                   padding: 15px;
                   ">
    <div class="col-md text-center">
        <h3 class="border-bottom pb-3 mb-4">عدد الأعمال المدرجة</h3>
        <h4 class=" text-center p-4 text-light" style="background-color: #a9c45e;">
            {{topics_profil.count}}
        </h4>

        <h3 class="border-bottom mb-4 pb-3 mt-5">أعمالي</h3>
                <div class="card-row">
                  <div class="row text-center justify-content-center">
                      {% for topic in topics_list %}
                
                    <div class="card ml-3 mb-4  topics-cards " style="width: 18rem;">
                        
                    <a href="{% url 'detail' topic.id%}">
                        <img src="{{topic.img_url}}" class="card-img-top" alt="...">
                     </a>
                        
                        <div class="card-body ">
                        <h5 class="card-title pb-3 "> {{topic.title}} </h5>
                            
                            <p class="card-text font-weight-bold" style="font-size: 18px;">

                            <a href="{% url 'user_topics' topic.id %}">
                             {{topic.created_by.first_name}} {{topic.created_by.last_name}}
                               </a>
                          </p>
                            

                    <p class="card-text text-center font-weight-bold text-success pb-2"> {{topic.created_by.profile.mobile}}&emsp;<i style="font-size: 25px;" class="fab fa-whatsapp"></i></p>
                        </div>
                         <div class="card-footer">
                          <small class="text-muted">{{topic.created_dt}}</small>
                         </div>
                    </div>
                       {% endfor %}
   

                  </div>
           </div>


    </div>
</div>
            {% include 'pagination.html' with page=topics_list %}
{%endblock%}